{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <!-- <div class="row">
        <div class="col-sm-12">
            <div class="">
                <div class=""><img class="ava_logo" src="{% static 'images/ava-small.png' %}" alt="AVA - Protect Your People" /></div>
                <div class="">Welcome to AVA.</div>
            </div>
        </div>
    </div> -->
    <div class="row dashboard">
        <div class="col-sm-4">
            <div class="panel">
                <!-- <i class="glyphicon glyphicon-user"></i> 
                <h3>People and Identities</h3> -->
                <div class="panel-body">
                    <div class="body-item"><span class="dashboard-count">{{ person_count }}</span> <span class="dashboard-item">pe{{ person_count|pluralize:'rson,ople' }}</span></div>
                    <div class="body-item"><span class="dashboard-count">{{ identity_count }}</span> <span class="dashboard-item">identit{{ identity_count|pluralize:'y,ies' }}</span></div>
                </div>
                <div class="panel-bottom">
                    <a href="{% url 'person-index' %}" class="">View People</a>
                    <a href="{% url 'identity-index' %}" class="">View Identities</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <!-- <i class="glyphicon glyphicon-list"></i>
                <h3>Directory Servers</h3> -->
                <div class="panel-body">
                    <div class="body-item"><span class="dashboard-count">{{ ldap_count }}</span> <span class="dashboard-item">directory server{{ ldap_count|pluralize }}</span></div>
                </div>
                <div class="panel-bottom">
                    <a href="{% url 'ldap-configuration-index' %}" class="">View LDAP</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel">
                <!-- <i class="glyphicon glyphicon-dashboard"></i>
                <h3>Tests</h3> -->
                <div class="panel-body">
                    <div class="body-item"><span class="dashboard-count">{{ project_count }}</span> <span class="dashboard-item">test project{{ project_count|pluralize }}</span></div>
                    <div class="body-item"><span class="dashboard-count">{{ email_test_count }}</span> <span class="dashboard-item">email test{{ email_test_count|pluralize }}</span></div>
                    {% comment %}
                    <div class="body-item"><span class="dashboard-count">{{ twitter_test_count }}</span> <span class="dashboard-item">Twitter test{{ twitter_test_count|pluralize }}</span></div>
                    {% endcomment %}
                </div>
                <div class="panel-bottom">
                    <a href="{% url 'project-index' %}" class="">View Tests</a>
                    <a href="{% url 'email-test-index' %}" class="">View Email Tests</a>
                    {% comment %}
                    <a href="{% url 'twitter-test-index' %}" class="">View Twitter Tests</a>
                    {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
