{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}


 <div class="page-header">
  <h2>Google Apps Group Details: {{ googledirectorygroup }}</h2>
</div>

       <div class="table-responsive">
            <table class="table table-striped">
             <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                        <tbody>
                        {% for name, value in googledirectorygroup.get_fields %}
                           {% if value %}
                                <tr>
                                    <td>{{ name }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                           {% endif %}
                        {% endfor %}                                                
                        </tbody>
                    </table>
                    <a href="{% url 'google-group-delete' googledirectorygroup.id  %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>

                </div>

    <div class="page-header">
            <h2>Members: </h2>
        </div>

<div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                         <th>ID</th>
                        <th>Name</th>

                        <th>


                        </th>
                    </tr>
                </thead>
                <tbody>
    {% for googledirectoryuser in googledirectorygroup.users.all %}
    <tr>
        <td>{{ googledirectoryuser.google_id }}</td>
        <td>{{ googledirectoryuser.first_name }} {{ googledirectoryuser.surname }}</td>
        <td>

          <a href="{% url 'google-user-detail' googledirectoryuser.id  %}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
        </td>
    </tr>
    {% endfor %}
     </tbody>
    </table>

    </div>

{% endblock %}

