{% extends 'base.html' %}
{% block mainpage %}

    <div class="page-header">
        <h2 class="sub-header">View Activity</h2>
    </div>

    <div class="table-responsive">
    {% if object_list %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
                <tr>
                    <td>{{ item.1 }}</td>
                    <td>{{ item.2 }}</td>
                    <td>{{ item.3 }}</td>
                    <td>
                        <div class="pull-right">
                            <a href="{% url 'person-detail' item.id %}">
                                <button type="button" class="btn btn-primary btn-sm">View</button>
                            </a>
                        </div>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>Nothing to see here.</p>
    {% endif %}

{% endblock %}

