{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">

      <div class="col-sm-12 col-md-10 col-md-offset-1">
          <form  class="form-horizontal" action="" method='POST'> {% csrf_token %}
          <div class="form-group input-group">
              <label for="oldpassword">Old Password</label>
              <input type="oldpassword" class="form-control" id="oldpassword" placeholder="Old password">
          </div>
        <div class="form-group input-group">
            <label for="password1">New Password</label>
            <input type="password1" class="form-control" id="password1" placeholder="New password">
          </div>
        <div class="form-group input-group">
            <label for="password2">Confirm Password</label>
            <input type="password2" class="form-control" id="password2" placeholder="Confirm password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-def btn-block btn-success">Change Password</button>
              <input type="hidden" name="next" value="{{ next }}" />
          </div>
        </form>
          <div class="form-group text-center">
            <a href="#">Support</a>&nbsp;|&nbsp;<a href="#">Terms & Conditions</a>
          </div>
      </div>  
    </div>    
  </div>
</div>

 {% endblock %}
