{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}



 <div class="page-header">
  <h2>LDAP Configuration Details</h2>
</div>


            <div class="row">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Server:</td>
                            <td>{{ ldap_configuration.server }}</td>
                        </tr>
                         <tr>
                            <td>Dump DN:</td>
                            <td>{{ ldap_configuration.dump_dn }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="button pull-left">
                        <a href="{% url 'ldap-configuration-delete' ldap_configuration.id  %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                    </div>
                    <div class="button pull-right"><a href="{% url 'ldap-configuration-update' ldap_configuration.id  %}"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
                        <a href="{% url 'ldap-import-all' ldap_configuration.id  %}"><button type="button" class="btn btn-success btn-sm">Import</button></a>
                        
                    </div>

                </div> <!-- end of column -->



{% endblock %}

