{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
    <h2 class="sub-header">Teams</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Members</th>
                <th>
                    
                </th>
            </tr>
        </thead>
        <tbody>
            {% for team in team_list %}
                <tr>
                    <td>{{ team.name }}</td>
                    <td>{{ team.member_count }}</td>
                    <td>
                        <div class="pull-right">
                            <a href="{% url 'team-delete' team.id %}" class="btn btn-danger btn-sm">Delete</a>
                            <a href="{% url 'team-detail' team.id %}" class="btn btn-primary btn-sm">View</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button pull-right">
        <a href="{% url 'team-create' %}" class="btn btn-success btn-md">Create Team</a>
    </div>
</div>

{% endblock %}