{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
    <h2 class="sub-header">Team: {{ team.name }}</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Description:</td>
                <td>{{ team.description }}
            </tr>
        </tbody>
    </table>

    {% if team.users.count %}
        <h4>Users</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for user in team.users.all %}
                    <tr>
                        <td>
                            
                            {{ user.username }}
                        </td>
                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <div class="pull-right">
                                <a href="{% url 'team-remove-members' team.id user.id %}" class="btn btn-danger btn-md">Delete</a>
                                <a href="{% url 'user-detail' user.id %}" class="btn btn-primary btn-md">View</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
</div>

<div class="button pull-left">
    <a href="{% url 'team-delete' team.id %}" class="btn btn-danger">Delete Team</a>
</div>

<div class="button pull-right">
    <a href="{% url 'team-update' team.id %}" class="btn btn-primary">Update Team</a>
    <a href="{% url 'team-add-members' team.id %}" class="btn btn-primary">Add Team Members</a>
</div>

{% endblock %}