{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% block sidebar %}
{% endblock %}

<div class="row">
    <div class="auth wizard-setup">
    	<div class="step-breadcrumb">
      		<span class="step-one complete">Create Account</span>
      		<span class="step-two active">Import Directory</span>
      		<span class="step-three">View Dashboard</span>
      	</div>
      	<img class="logo" src="{% static "images/ava-large.png" %}" alt="AVA - Protect Your People"/>
      	<div class="auth-inner first-user">
			<div class="first-user-intro">
				<h3>Import your directory into AVA</h3>
				<p>To begin mapping out your organisation, please import your LDAP or Google Account directory.</p>
			</div>

			<form method='post'>
  			{% csrf_token %}

                        {% if form.non_field_errors %}
			<div class="form-group has-error">
                          {{ form.non_field_errors }}
			</div>
			{% endif %}

  			<div class="form-group {% if form.user_dn.errors %}has-error{% endif %}">
				<label for="{{ form.user_dn.id_for_label }}" class="control-label">Active Directory User</label>
				<div class="first-time">{{ form.user_dn }}</div>
				{% if form.user_dn.errors %}
			  	{{ form.user_dn.errors }}
			  	{% endif %}  
				<div class="help-block">{{ form.user_dn.help_text }}</div>   
          	</div>

          	<div class="form-group {% if form.user_pw.errors %}has-error{% endif %}">
				<label for="{{ form.user_pw.id_for_label }}" class="control-label">Active Directory Password</label>
				<div class="first-time">{{ form.user_pw }}</div>
				{% if form.user_pw.errors %}
			  	{{ form.user_pw.errors }}     
			  	{% endif %}    
				<div class="help-block">{{ form.user_pw.help_text }}</div>
          	</div>

          	<div class="form-group {% if form.dump_dn.errors %}has-error{% endif %}">
				<label for="{{ form.password2.id_for_label }}" class="control-label">Domain</label>
				<div class="first-time">{{ form.dump_dn }}</div>
				{% if form.dump_dn.errors %}
			  	{{ form.dump_dn.errors }}
			  	{% endif %}    
				<div class="help-block">{{ form.dump_dn.help_text }}</div>
          	</div> 

          	<div class="form-group {% if form.server.errors %}has-error{% endif %}">
				<label for="{{ form.server.id_for_label }}" class="control-label">Server</label>
				<div class="first-time">{{ form.server }}</div>
				{% if form.server.errors %}
			  	{{ form.server.errors }}
			  	{% endif %}    
				<div class="help-block">{{ form.dump_dn.help_text }}</div>
          	</div> 

          	<button type="submit" class="btn btn-def btn-block btn-success">Submit</button>
			
			</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
