{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="page-header">
        <h2>Test Dashboard</h2>
    </div>

      <div class="row">
        <div class="col-sm-3">
            <div class="panel">
                <!-- <i class="fa fa-star fa-5x"></i> -->
                <div class="panel-body">
                    <div class="body-item"><span class="dashboard-count">{{ tests_new }}</span> <span class="dashboard-item">new tests</span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <!-- <i class="fa fa-check-square fa-5x"></i> -->
                <div class="panel-body">
                    <div class="body-item"><span class="dashboard-count">{{ tests_complete }}</span> <span class="dashboard-item">completed</span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <!-- <i class="fa fa-history fa-5x"></i> -->
                <div class="panel-body">
                    <div class="body-item"><span class="dashboard-count">{{ tests_scheduled }}</span> <span class="dashboard-item">scheduled</span></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="panel">
                <!-- <i class="fa fa-exclamation-circle fa-5x"></i> --> 
                <div class="panel-body">
                    <div class="body-item"><span class="dashboard-count">{{ tests_error }}</span> <span class="dashboard-item">errors</span></div>
                </div>
            </div>
        </div>
    </div>

  <div class="page-header">
            <h2>Current Projects: </h2>
        </div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th># Targets</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for project in project_list %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.description }}</td>
                    <td>{{ project.target_groups_set.count }}</td>

                    <td>
                        <div class="pull-right">
                            <a href="{% url 'test-project-dashboard' project.id %}" class="btn btn-primary btn-sm">View Dashboard</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button pull-right">
        <a href="{% url 'project-create' %}" class="btn btn-success btn-md">Create Project</a> <!-- glyphicon glyphicon-plus -->
    </div>
</div>


{% endblock %}

