{% extends 'base.html' %}
{% block mainpage %}

    <div class="page-header">
     <h2>Visualisations</h2>
</div>

    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Server</th>
                        <th># Users</th>
                        <th># Groups</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
    {% for ldap_configuration in ldap_configuration_list %}
    <tr>
        <td>{{ ldap_configuration.server }}</td>
        <td>{{ ldap_configuration.activedirectoryuser_set.count }}</td>
        <td>{{ ldap_configuration.activedirectorygroup_set.count }}</td>
        <td>
            <div class="pull-right">
                <a href="{% url 'vis-ldap-graph-view' ldap_configuration.id  %}"><button type="button" class="btn btn-primary btn-sm">View Graph</button></a>
            </div>
        </td>
    </tr>
    {% endfor %}
     </tbody>
    </table>



{% endblock %}
