{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}


 <div class="page-header">
  <h2>Active Directory Group Details: {{ activedirectorygroup }}</h2>
</div>

       <div class="table-responsive">
            <table class="table table-striped">
             <thead>
                    <tr>
                        <th>Field</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                        <tbody>
                        {% for name, value in activedirectorygroup.get_fields %}
                           {% if value %}
                                <tr>
                                    <td>{{ name }}</td>
                                    <td>{{ value }}</td>
                                </tr>
                           {% endif %}
                        {% endfor %}                                                
                        </tbody>
                    </table>

                </div>

    <div class="page-header">
            <h2>Members: </h2>
        </div>

<div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                         <th>Name</th>
                        <th>Account Expiry Date</th>

                        <th>


                        </th>
                    </tr>
                </thead>
                <tbody>
    {% for activedirectoryuser in activedirectorygroup.users.all %}
    <tr>
        <td>{{ activedirectoryuser.name }}</td>
        <td>{{ activedirectoryuser.accountExpires }}</td>
        <td>

          <a href="{% url 'ad-user-detail' activedirectoryuser.id  %}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
        </td>
    </tr>
    {% endfor %}
     </tbody>
    </table>

    </div>

{% endblock %}

