{% extends 'base.html' %}
{% block sidebar %}
    <li class="nav-header has-sub-menu">
        <span class="sidebar-main-header"><a href="{% url 'know-index' %}">Know</a></span>
    </li>
    <li class="nav-header has-sub-menu">
        <ul class="sub-menu">
            <li><a href="{% url 'group-index' %}">Groups</a></li>
            <li><a href="{% url 'person-index' %}">People</a></li>
        </ul>
    </li>
    <li class="nav-header has-sub-menu">
        <span class="sidebar-header">Reports</span>
        <ul class="sub-menu">
            <li><a href="{# url 'organize-report' #}">Organization</a></li>
        </ul>
    </li>
    <li class="nav-header has-sub-menu">
        <span class="sidebar-header">Settings</span>
        <ul class="sub-menu">
            <li><a href="{# url 'gather-index' #}">Manage Imports</a></li>
            <li><a href="{# url 'integration-index' #}">Manage Integrations</a></li>
        </ul>
    </li>
    <li class="nav-header has-sub-menu">
        <span class="sidebar-main-header"><a href="{% url 'test-index' %}">Test</a></span>
        <span class="sidebar-main-header"><a href="{% url 'educate-index' %}">Teach</a></span>
    </li>
{% endblock %}
