{% extends 'base.html' %}
{% block sidebar %}
    <li class="nav-header has-sub-menu">
        <span class="sidebar-main-header"><a href="{% url 'know-index' %}">Know</a></span>
        <span class="sidebar-main-header"><a href="{% url 'test-index' %}">Test</a></span>
    </li>

    <li class="nav-header has-sub-menu">
        <ul class="sub-menu">
            <li><a href="{% url 'evaluate-controller-create' %}">Add Test Project</a></li>
        </ul>
    </li>
    <li class="nav-header has-sub-menu">
        <span class="sidebar-header">Manage Tests</span>
        <ul class="sub-menu">
            <li><a href="{% url 'evaluate-controller-index' %}">View Test Projects</a></li>
            <li><a href="{% url 'evaluate-target-index' %}">View Individual Tests</a></li>
            <li><a href="{% url 'evaluate-results-index' %}">View Results</a></li>
        </ul>
    </li>
    <li class="nav-header has-sub-menu">
        <span class="sidebar-header">Reports</span>
        <ul class="sub-menu">
            <li><a href="{# url 'evaluate-report' #}">Testing</a></li>
        </ul>
    </li>
    <li class="nav-header has-sub-menu">
        <span class="sidebar-header">Settings</span>
        <ul class="sub-menu">
            <li><a href="{% url 'evaluate-sender-index' %}">Senders</a></li>
            <li><a href="{% url 'evaluate-template-index' %}">Templates</a></li>
        </ul>
    </li>
    <li class="nav-header has-sub-menu">
        <span class="sidebar-main-header"><a href="{% url 'educate-index' %}">Teach</a></span>
    </li>
{% endblock %}
