{% extends 'base.html' %}
{% block sidebar %}
    <li class="nav-header has-sub-menu">
        <span class="sidebar-main-header"><a href="{% url 'know-index' %}">Know</a></span>
        <span class="sidebar-main-header"><a href="{% url 'test-index' %}">Test</a></span>
        <span class="sidebar-main-header"><a href="{% url 'educate-index' %}">Teach</a></span>
    </li>
    <li class="nav-header has-sub-menu">
        <span class="sidebar-header">Reports</span>
        <ul class="sub-menu">
            <li><a href="{# url 'learn-report' #}">Education and Learning</a></li>
            <li><a href="{# url 'game-report' #}">Achievements</a></li>
        </ul>
    </li>

    <li class="nav-header has-sub-menu">
        <span class="sidebar-header">Settings</span>
        <ul class="sub-menu">
            <li><a href="{% url 'learn-path-index' %}">Learning Paths</a></li>
            <li><a href="{% url 'learn-module-index' %}">Learning Modules</a></li>
            <li><a href="{% url 'learn-role-index' %}">Learner Roles</a></li>
            <li><a href="{% url 'game-achievement-index' %}">Achievements</a></li>
        </ul>
    </li>

{% endblock %}
