{% extends 'base.html' %}
{% block mainpage %}

    <div class="page-header">
        <h2 class="sub-header">View Evaluate Slack Template</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Name:</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ object.surname }}</td>
            </tr>
            </tbody>
        </table>

    </div>

{% endblock %}