{% extends 'evaluate/base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="row">
        <div class="auth">

            <div class="auth-inner">
                {% if form.errors %}
                    <div class="alert bg-danger">
                        <p>{{ form.errors }}</p>
                    </div>
                {% endif %}

                <form action="{% if object %}{% url 'evaluate-template-update' object.id %} {% else %} {% url 'evaluate-template-create' %} {% endif %}" method='POST'> {% csrf_token %}
                    <div class="form-group input-group">
                        <label for="name">Template Name</label>
                        <input class="form-control" id="name" type="text" name='name' value="{% if object %}{{ object.name }} {% endif %}"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="name">Template Description</label>
                        <input class="form-control" id="description" type="text" name='description' value="{% if object %}{{ object.description }} {% endif %}"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="name">Template Type</label>
                        <select class="form-control" name="template_type" id="template_type">
                            <option {% if object %}{% if object.template_type == 0 %} selected {% endif %}{% endif %} value="0">Email</option>
                            <option {% if object %}{% if object.template_type == 1 %} selected {% endif %}{% endif %} value="1">Slack</option>
                        </select>
                    </div>
                    <div class="form-group input-group">
                        <label for="name">Template Subject</label>
                        <input class="form-control" id="email_subject" type="text" name='email_subject' value="{% if object %}{{ object.email_subject }} {% endif %}"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="name">Template Message Body</label>
                        <input class="form-control" id="email_body" type="text" name='email_body' value="{% if object %}{{ object.email_body }} {% endif %}"/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-def btn-block btn-success">Save</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
