{% extends 'base.html' %}
{% block mainpage %}

    <div class="page-header">
     <h2>Current Google Apps Configurations</h2>
</div>

    <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Domain</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
    {% for google_configuration in google_configuration_list %}
    <tr>
        <td>{{ google_configuration.domain }}</td>
        <td>

          <a href="{% url 'google-configuration-detail' google_configuration.id  %}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
          <a href="{% url 'google-configuration-update' google_configuration.id  %}"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
          <a href="{% url 'google-configuration-delete' google_configuration.id  %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
    </tr>
    {% endfor %}
     </tbody>
    </table>
    <div class="button pull-right">
         <a href="{% url 'google-configuration-create' %}" class="btn btn-success btn-md">Create Google Configuration</a> <!-- glyphicon glyphicon-plus -->
    </div>


{% endblock %}
