{% extends 'learn/base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="row dashboard">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="dash-info">
                            <div class="dash-img">
                                <img src="{# static 'images/know.png' #}">
                            </div>
                            <div class="dash-desc">
                                <h3>Learn: Dashboard</h3>

                                <p>Bitesize education that matters, delivered to those who need it.</p>
                            </div>
                        </div>
                        <div class="dash-stats">
                            <div class="dash-stat">
                                <span class="dash-count">{# person_count #}</span>
                                <span class="dash-type"></span>
                                <a href="{# url 'person-index' #}" class="btn btn-sm btn-default">View Paths/Modules</a>
                            </div>
                            <div class="dash-stat">
                                <span class="dash-count">{# person_identifier_count #}</span>
                                <span class="dash-type"></span>
                                <a href="{# url 'people-index' #}" class="btn btn-sm btn-default">Manage Roles</a>
                            </div>
                            <div class="dash-stat">
                                <span class="dash-count">{# group_count #}</span>
                                <span class="dash-type"></span>
                                <a href="{# url 'groups-index' #}" class="btn btn-sm btn-default">View Reports</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}