{% extends 'my/base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="row dashboard">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="dash-info">
                            <div class="dash-img">
                            <img src="{% static 'images/know.png' %}">    
                            </div>
                            <div class="dash-desc">
                                <h3>User: Dashboard</h3>

                                <p>Your gateway to the protect your people.</p>
                            </div>
                        </div>
                        <div class="dash-stats">
                            <div class="dash-stat">
                                <span class="dash-count">{# person_count #}</span>
                                <span class="dash-type"></span>
                                <a href="{# url 'know-index' #}" class="btn btn-sm btn-default">My Profile</a>
                            </div>
                            <div class="dash-stat">
                                <span class="dash-count">{# person_identifier_count #}</span>
                                <span class="dash-type"></span>
                                <a href="{# url 'community-index' #}" class="btn btn-sm btn-default">My Organization</a>
                            </div>
                            <div class="dash-stat">
                                <span class="dash-count">{# group_count #}</span>
                                <span class="dash-type"></span>
                                <a href="{# url 'support-index' #}" class="btn btn-sm btn-default">Support and Help</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}