{% extends 'menus/user/base.html' %}
{% block title %}Oh dear :({% endblock %}
{% block mainpage %}

    <div class="page-header">
        <h1>Something isn't quite right!</h1>
    </div>
    <div class="table-responsive">
        <p>Not sure what happened there..... oops. That's embarrassing</p>

        <p>Here's a little more information:</p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Status Code:</td>
                <td>{{ status_code }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ error_message }}</td>
            </tr>
        </table>

    </div>



{% endblock %}

