{% extends 'menus/user/base.html' %}
{% block title %}Oh dear :({% endblock %}
{% block mainpage %}

    <div class="page-header">
        <h1>Not Logged In</h1>
    </div>
    <div class="table-responsive">
        <p>Can I see some proof of ID citizen?</p>

        <p>Seriously, I'm going to need you to login before I can let you continue.</p>
        <p class="text-center"><a  class='btn btn-default' href="{% url 'login' %}">Login</a></p>

        <p>Here's a little more information:</p>
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>Status Code:</td>
                <td>{{ status_code }}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{ error_message }}</td>
            </tr>
        </table>

    </div>



{% endblock %}

