{% extends 'organize/base.html' %}
{% load staticfiles %}
{% block mainpage %}

<div class="page-header">
    <h2>Group: {{ object.name }}</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{ object.name }}</td>
                </tr>
                <tr>
                    <td>Group Type:</td>
                    <td>{{ object.group_type }}</td>
                </tr>
                {% if object.parent %}
                    <tr>
                        <td>Parent Group:</td>
                        <td><a href="{% url "group-detail" object.parent.id %}">{{ object.parent.name }}</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <td># Members:</td>
                    <td>{{ object.members|length }}</td>
                </tr>
                <tr>
                    <td># Identifiers:</td>
                    <td>{{ object.group_ids|length }}</td>
                </tr>
            </tbody>
        </table>
        
</div> <!-- end of column -->

<div class="page-header">
    <h2>Identifiers: </h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for identifier in object.group_ids %}
                <tr>
                    <td>{{ identifier.identifier }}</td>
                    <td>{{ identifier.identifier_type }}</td>
                    <td>
                        <div class="pull-right">
                            <a href="{% url 'person-detail' identifier.id  %}" class="btn btn-primary btn-sm">Ignore Identifier</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="page-header">
    <h2>Members: </h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Surname</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for person in object.members %}
                <tr>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.surname }}</td>
                    <td>
                        <div class="pull-right">
                            <a href="{% url 'person-detail' person.id  %}" class="btn btn-primary btn-sm">View</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
