{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="row dashboard">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="dash-info">
                            <div class="dash-img">
                                <img src="{% static 'images/know.png' %}">
                            </div>
                            <div class="dash-desc">
                                <h3>Know: Dashboard</h3>

                                <p>See how people are connected and learn how your organisation is really structured.
                                    Use information from internal systems to reveal trust boundaries and pathways.</p>
                            </div>
                        </div>
                        <div class="dash-stats">
                            <div class="dash-stat">
                                <span class="dash-count">{{ person_count }}</span>
                                <span class="dash-type">people</span>
                                <a href="{% url 'person-index' %}" class="btn btn-sm btn-default">View People</a>
                            </div>
                            <div class="dash-stat">
                                <span class="dash-count">{{ identity_count }}</span>
                                <span class="dash-type">identities</span>
                                <a href="{% url 'identity-index' %}" class="btn btn-sm btn-default">View Identities</a>
                            </div>
                            <div class="dash-stat">
                                <span class="dash-count">{{ group_count }}</span>
                                <span class="dash-type">active groups</span>
                                <a href="{% url 'group-index' %}" class="btn btn-sm btn-default">View Groups</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row dashboard know">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">

                        <div class="col-sm-4">
                            <div class="panel dash-passwords">
                                <div class="panel-body">
                                    <div class="body-item">
                                        <span class="dash-count">{{ ldap_config|length }}</span>
                                        <span class="dash-type">LDAP Integrations</span>
                                        <a href="{% url 'know-ldap-dashboard' %}"
                                           class="btn btn-def btn-block btn-success">LDAP Know
                                            Dashboard</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="panel dash-passwords">
                                <div class="panel-body">
                                    <div class="body-item">
                                        <span class="dash-count">{{ ldap.admin_accounts|length }}</span>
                                        <span class="dash-type">Administrators</span>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="panel dash-passwords">
                                <div class="panel-body">
                                    <div class="body-item">
                                        <span class="dash-count">{{ ldap.never_logged_in|length }}</span>
                                        <span class="dash-type">Never Logged In</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row dashboard know">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="panel dash-connected">
                                <div class="panel-body">
                                    <div class="body-item">
                                        <span class="dash-count">{{ google_config|length }}</span>
                                        <span class="dash-type">Google Integrations</span>
                                        <a href="{% url 'know-google-dashboard' %}"
                                           class="btn btn-def btn-block btn-success">Google
                                            Know Dashboard</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="panel dash-passwords">
                                <div class="panel-body">
                                    <div class="body-item">
                                        <span class="dash-count">{{ google.admin_accounts|length }}</span>
                                        <span class="dash-type">Administrators</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="panel dash-passwords">
                                <div class="panel-body">
                                    <div class="body-item">
                                        <span class="dash-count">{{ google.never_logged_in|length }}</span>
                                        <span class="dash-type">Never Logged In</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock %}