{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/graph.css' %}" />

    <div>
         <div class="overlay">
            <div class="controls">
               <div class="buttons"></div>
               <div class="filters"></div>
            </div>
            <div id="stats_meter"></div>
            <div class="clearfix"></div>
         </div>
      </div>

      <div id="graph"></div>

      <script src="{% static 'js/lodash.min.js' %}"></script>
      <script src="{% static 'js/chunk.lodash.js' %}"></script>
      <script src="{% static 'js/d3.js' %}"></script>
      <script src="{% static 'js/stats.min.js' %}"></script>
      <script src="{% static 'js/ava.visualizer.js' %}"></script>
      <script src="{% static 'js/ava.ui.js' %}"></script>
      
      <script src="{% static 'js/graph_ldap.js' %}"></script>

{% endblock %}
