{% extends 'base.html' %}
{% load bootstrap %}
{% load staticfiles %}



{% block mainpage %}

{% block bottom_script %}{{ block.super }}
    <script type="text/html" id="identifier-template">
    <div id="identifier-__prefix__">
        {{ formset.empty_form|bootstrap }}
    </div>
    </script>
    <script>
    $(function() {
        $('.add-identifier').click(function(ev){
            ev.preventDefault();
            var count = parseInt($('#id_identifier_set-TOTAL_FORMS').attr('value'), 10);
            var tmplMarkup = $('#identifier-template').html();
            var compiledTmpl = tmplMarkup.replace(/__prefix__/g, count)
            console.log(compiledTmpl);
            $('div.identifiers').append(compiledTmpl);
            $('#id_identifier_set-TOTAL_FORMS').attr('value', count + 1);
        });
    });
    </script>

{% endblock bottom_script %}
<div class="page-header">
  <h1>{% if form.instance.pk %}Edit{% else %}Add{% endif %} Identity and Identifiers</h1>
</div>

<form action="." method="post">
    {{ formset.management_form }}
    {% csrf_token %}

    <legend>Identity</legend>
    <div class="identity">
      {{ form|bootstrap }}
    </div>

    <legend>
        <div class="pull-right"><a href="#" class="btn btn-inverse add-identifier"><i class="icon-plus icon-white"></i> Add Identifier</a></div>
        Identifiers
    </legend>
    <div class="identifiers form-inline">
        {% for form in formset %}
            <div>
              {{ form|bootstrap }}
            </div>
        {% endfor %}
    </div>
  <div class="form-actions">
     <button type="submit" class="btn btn-success">Save</button>
   </div>
 </form>

{% endblock %}
