{% extends 'base.html' %}
{% load staticfiles %}
{% load test_filters %}
{% block mainpage %}


<div class="page-header">
    <h1>Email Test: {{ test.name }}</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Name:</td>
                <td>{{ test.name }}</td>
            </tr>
            {% if test.test_type %}
                <tr>
                    <td>Test Type:</td>
                    <td>{{ test.test_type|test_type }}</td>
                </tr>
            {% endif %}
            <tr>
                <td>Status:</td>
                <td>{{ test_status }}</td>
            </tr>
        </tbody>
    </table>
    
    <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#test-info" aria-controls="test-info" role="tab" data-toggle="tab">Email Content</a></li>
            <li><a href="#test-targets" aria-controls="test-targets" role="tab" data-toggle="tab">Targets</a></li>
        </ul>
    </div>    

        <div class="tab-content">
            <div class="tab-pane active" id="test-info">
                <table class="table table-striped">
                    <tbody>
                        {% if test.fromaddr %}
                            <tr>
                                <td>From Address:</td>
                                <td>{{ test.fromaddr }}</td>
                            </tr>
                        {% endif %}
                        {% if test.subject %}
                            <tr>
                                <td>Subject:</td>
                                <td>{{ test.subject }}</td>
                            </tr>
                        {% endif %}
                        {% if test.body %}
                            <tr>
                                <td>Message Body:</td>
                                <td><pre class="message-content">{{ test.body }}</pre></td>
                            </tr>
                        {% endif %}
                        {% if test.html_body %}
                            <tr>
                                <td>Message HTML Body:</td>
                                <td><pre class="message-content">{{ test.html_body }}</pre></td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="test-targets">
                <table class="table table-striped">
                    <tbody>
                        {% if test.targets.count > 0 %}
                            <tr>
                                <td>Test Targets:</td>
                                <td>
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email Address</th>
                                                <th>Link Clicked</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for target in test.targets.all %}
                                                <tr>
                                                    <td>{{ target.target.identity.name }}</td>
                                                    <td>{{ target.target.identifier }}</td>
                                                    <td>
                                                        {% for result in target.results.all %}
                                                            <span class="label label-default" title="{{ result.ua }}">{{ result.created }}</span>
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
    </div>
</div>

<div class="button pull-left">
    <a href="{% url 'email-test-delete' test.id %}" class="btn btn-danger btn-md">Delete</a>    
</div>

<div class="button pull-right">
    <a href="{% url 'email-test-update' test.id %}" class="btn btn-primary btn-md">Update</a>
    <a href="{% url 'email-test-send' test.id %}" class="btn btn-success btn-md">Send</a>
</div>
</div>

{% endblock %}

