{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="page-header">
        <h2>Project Dashboard : {{ project.name }}</h2>
    </div>

      <div class="row">


        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-body">
                    <!-- <i class="fa fa-star fa-5x"></i> -->
                    <div class="body-item"><span class="dashboard-count">{{ tests_new }}</span> <span class="dashboard-item">new tests</span></div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-body">
                    <!-- <i class="fa fa-check-square fa-5x"></i> -->
                    <div class="body-item"><span class="dashboard-count">{{ tests_complete }}</span> <span class="dashboard-item">completed</span></div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-body">
                    <!-- <i class="fa fa-history fa-5x"></i> -->
                    <div class="body-item"><span class="dashboard-count">{{ tests_scheduled }}</span> <span class="dashboard-item">scheduled</span></div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="panel">
                <div class="panel-body">
                    <!-- <i class="fa fa-exclamation-circle fa-5x"></i> -->
                    <div class="body-item"><span class="dashboard-count">{{ tests_error }}</span> <span class="dashboard-item">errors</span></div>
                </div>
            </div>
        </div>
    </div>
  <div class="page-header">
            <h2>Current Tests: </h2>
        </div>

<div class="table-responsive">

        <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
    {% for item in email_test_list %}
    <tr>
        <td><i class="fa fa-envelope"></i></td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.test_status }}</td>
        <td>
            <div class="pull-right">
                <a href="{% url 'email-test-delete' item.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                <a href="{% url 'email-test-detail' item.id %}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
                <a href="{% url 'email-test-update' item.id %}"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
            </div>
    </tr>
    {% endfor %}

       {% for item in twitter_test_list %}
    <tr>
        <td><i class="fa fa-twitter"></i></td>
        <td>{{ item.name }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.test_status }}</td>
        <td>
            <div class="pull-right">
                <a href="{% url 'twitter-test-delete' item.id %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
                <a href="{% url 'twitter-test-detail' item.id %}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
                <a href="{% url 'twitter-test-update' item.id %}"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
            </div>
    </tr>
    {% endfor %}

     </tbody>
    </table>

    <div class="button pull-right">
        <a href="{% url 'email-test-create' project.id %}" class="btn btn-success btn-md"><i class="fa fa-envelope fa-fw"></i> Add Email Test</a>
        <a href="{% url 'twitter-test-create' project.id %}" class="btn btn-success btn-md"><i class="fa fa-twitter fa-fw"></i> Add Twitter Test</a>                   
    </div>
</div>


{% endblock %}

