{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="page-header">
        <h1>Twitter Test Details : {{ test.name }}</h1>
    </div>



        <div class="table-responsive">
            <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ test.name }}</td>
                        </tr>
                        {% if test.test_type %}
                            <tr>
                                <td>Test Type:</td>
                                <td>{{ test.test_type }}</td>
                            </tr>
                        {% endif %}
                        {% if test.tweet.tweet %}
                            <tr>
                                <td>Tweet:</td>
                                <td>{{ test.tweet.tweet }}</td>
                            </tr>
                        {% endif %}
                        {% if test.link%}
                            <tr>
                                <td>Link:</td>
                                <td>{{ test.link }}</td>
                            </tr>
                        {% endif %}
                        {% if test.twitter_account %}
                            <tr>
                                <td>Sender Twitter Account:</td>
                                <td>{{ test.twitter_account.username }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                    <div class="button pull-left">
                        <a href="{% url 'twitter-test-delete' test.id %}" class="btn btn-danger btn-md">Delete</a>
                    </div>
                    <div class="button pull-right">
                        <a href="{% url 'twitter-test-update' test.id %}" class="btn btn-primary btn-md">Update</a>
                        <a href="{% url 'twitter-test-send' test.id %}" class="btn btn-success btn-md">Send</a>
                    </div>


    </div>

{% endblock %}

