{% extends 'base.html' %}
{% block mainpage %}

    <div class="page-header">
        <h2 class="sub-header">View Person</h2>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
            <tr>
                <td>First Name:</td>
                <td>{{ object.first_name }}</td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td>{{ object.surname }}</td>
            </tr>
            <tr>
                <td># Groups:</td>
                <td>{{ object.groups|length }}</td>
            </tr>
            </tbody>
        </table>

    </div>


    <div class="page-header">
        <h2>Associated Groups: </h2>
    </div>

    <div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Identifier</th>
            <th>Identifier Type</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for group in object.groups.all %}
            <tr>
                <td>{{ group.url }}</td>
                <td>{{ group.group_type }}</td>
                <td>
                    <div class="pull-right">
                        <a href="{% url 'person-detail' object_identifier.id %}" class="btn btn-danger btn-sm">Ignore
                            Identifier</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



{% endblock %}

