{% extends 'base.html' %}
{% block mainpage %}
<div class="page-header">
             <h1>Twitter Tests</h1>
</div>
<div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>
                        <a href="{% url 'twitter-test-new' %}" class="glyphicon glyphicon-plus"></a>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for test in list %}
                    <tr>
                        <td>
                            <a href="{% url 'twitter-test-detail' test.id %}">{{ test.name }}</a>
                        </td>
                        <td>
                            <a href="{% url 'twitter-test-update' test.id %}" class="btn btn-primary">Update</a>
                            <a href="{% url 'twitter-test-delete' test.id %}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

</div>

{% endblock %}
