{% extends 'base.html' %}
{% load group_filters %}
{% block mainpage %}

<div class="page-header">
    <h2 class="sub-header">Add groups to: {{ project.name }}</h2>
</div>

<div class="search">
<form method="get" action="." class="form-inline">
    <div class="form-group">
        <label for="search" class="sr-only">Search for</label>
        <input type="text" class="form-control" id="search" name="search" value="{{ search_term }}">
    </div>
    <button type="submit" class="btn btn-success btn-sm">Search</button>
</form>
</div>

{% if group_list %}
    <form method="post" action=".">
        {% csrf_token %}
        {{ default_results_message }}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for group in group_list.all %}
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" name="add" value="{{ group.id }}">
                                {{ group.name }}
                            </label>
                        </td>
                        <td>
                            {{ group.group_type|group_type }}
                        </td>
                        <td>
                            {{ group.description }}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="button pull-right">
            <a href="{% url 'project-detail' project.id %}" class="btn btn-primary btn-md">Cancel</a>
            <button type="submit" class="btn btn-success btn-md">Add</button>
        </div>
    </form>
{% endif %}

{% endblock %}
