{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
    <h2 class="sub-header">Remove teams from: {{ project.name }}</h2>
</div>

<form method="post" action=".">
    {% csrf_token %}
    {{ confirm }}
    
    <p>Are you sure you want to remove the following teams from {{ project.name }}?</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for project_team in project_team_list.all %}
                <tr>
                    <td>
                        <input type="hidden" name="team" value="{{ project_team.team.id }}">
                        {{ project_team.team.name }}
                    </td>
                    <td>
                        {{ project_team.team.description }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button type="submit" class="btn btn-danger">Remove</button>
    <a href="{% url 'project-detail' project.id %}" class="btn btn-default">Cancel</a>
</form>

{% endblock %}