{% extends 'base.html' %}
{% load bootstrap %}
{% block mainpage %}

<div class="page-header">
    <h2 class="sub-header">Update team access: {{ project_team.project.name }}</h2>
</div>

<form method="post" action=".">
    {% csrf_token %}
    
    <div class="form-group">
        <label>Team</label>
        <div>{{ project_team.team.name }}</div>
    </div>

    {{ form|bootstrap }}
    
    <div class="button pull-right">
        <a href="{% url 'project-detail' project_team.project.id %}" class="btn btn-primary btn-md">Cancel</a>
        <button type="submit" class="btn btn-success btn-md">Save</button>
    </div>
</form>

{% endblock %}