{% extends 'base.html' %}
{% load group_filters %}
{% block mainpage %}

<div class="page-header">
    <h2 class="sub-header">Remove groups from: {{ project.name }}</h2>
</div>

<form method="post" action=".">
    {% csrf_token %}
    {{ confirm }}
    
    <p>Are you sure you want to remove the following groups from {{ project.name }}?</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th># Identities</th>
            </tr>
        </thead>
        <tbody>
            {% for group in group_list.all %}
                <tr>
                    <td>
                        <input type="hidden" name="group" value="{{ group.id }}">
                        {{ group.name }}
                    </td>
                    <td>
                        {{ group.group_type|group_type }}
                    </td>
                    <td>
                        {{ group.identities.count }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <button type="submit" class="btn btn-danger">Remove</button>
    <a href="{% url 'project-detail' project.id %}" class="btn btn-default">Cancel</a>
</form>

{% endblock %}