{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

 <div class="page-header">
  <h2>Group Type</h1>
</div>

           <div class="table-responsive">
            <table class="table table-striped">
                        <tbody>
                        <tr>
                            <td>Name:</td>
                            <td>{{ group_type.name }}</td>
                        </tr>
                        <tr>
                            <td>Description:</td>
                            <td>{{ group_type.description }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{% url 'group-type-delete' group_type.id %}" class="btn btn-danger">delete</a>

                </div> <!-- end of column -->


{% endblock %}

