{% extends 'base.html' %}
{% block mainpage %}

<div class="page-header">
     <h2 class="sub-header">Group Types</h2>
</div>

<div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>
                            <a href="{% url 'group-type-create' %}" class="glyphicon glyphicon-plus"></a>
                        </th>
                    </tr>
                </thead>
{% if group_type_list %}
	<tbody>    
{% for group_type in group_type_list %}
    <tr>
	<td>{{ group_type.name }}</td>
        <td>
		<a href="{% url 'group-type-detail' group_type.id %}" class="btn btn-primary">view</a>
	</td>
    </tr>
    {% endfor %}
</tbody>
    </table>
{% else %}
    </table>
    <p>No group types are available.</p>
{% endif %}

{% endblock %}
