{% extends 'base.html' %}
{% load group_filters %}
{% block mainpage %}

<div class="page-header">
     <h2 class="sub-header">Groups</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th># Members</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for group in group_list.all %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.group_type|group_type }}</td>
                    <td>{{ group.identity_count }}</td>
                    <td>
                        <div class="pull-right">
                            <a href="{% url 'group-detail' group.id %}" class="btn btn-primary btn-sm">View</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>

{% endblock %}
