{% extends 'base.html' %}
{% load staticfiles %}
{% load group_filters %}
{% block mainpage %}

<div class="page-header">
    <h2>Group: {{ group.name }}</h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <tbody>
                <tr>
                    <td>Name:</td>
                    <td>{{ group.name }}</td>
                </tr>
                <tr>
                    <td>Group Type:</td>
                    <td>{{ group.group_type|group_type }}</td>
                </tr>
                {% if group.parent %}
                    <tr>
                        <td>Parent Group:</td>
                        <td><a href="{% url "group-detail" group.parent.id %}">{{ group.parent.name }}</a></td>
                    </tr>
                {% endif %}
                <tr>
                    <td># Members:</td>
                    <td>{{ group.identities.count }}</td>
                </tr>
            </tbody>
        </table>
        
</div> <!-- end of column -->


<div class="page-header">
    <h2>Members: </h2>
</div>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for identity in group.identities.all %}
                <tr>
                    <td>{{ identity.name }}</td>
                    <td>{{ identity.identity_type }}</td>
                    <td>
                        <div class="pull-right">
                            <a href="{% url 'identity-detail' identity.id  %}" class="btn btn-primary btn-sm">View</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
