{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="row">
        <div class="auth">

            <div class="auth-inner">
                {% if form.errors %}
                    <div class="alert bg-danger">
                        <p>{{ form.errors }}</p>
                    </div>
                {% endif %}

                <form action="{% url 'evaluate-controller-update' object.id %}" method='POST'> {% csrf_token %}
                    <div class="form-group input-group">
                        <label for="name">Template Name</label>
                        <input class="form-control" id="name" type="text" name='name' value="{{ object.name }}"/>
                    </div>
                    <div class="form-group input-group">
                        <label for="name">Template Description</label>
                        <input class="form-control" id="description" type="text" name='description' value="{{ object.description }} />
                    </div>
                    <div class="form-group input-group">
                        <label for="name">Template Subject</label>
                        <input class="form-control" id="subject" type="text" name='subject' value="{{ object.subject }}/>
                    </div>
                    <div class="form-group input-group">
                        <label for="name">Template Message Body</label>
                        <input class="form-control" id="body" type="text" name='body' value="{{ object.body }}/>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-def btn-block btn-success">Update</button>
                        <input type="hidden" name="next" value="{{ next }}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
