{% extends 'base.html' %}
{% block title %}Email Tests{% endblock %}

{% block mainpage %}
<div class="page-header">
     <h2>Email Tests</h2>
</div>

<div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Status</th>
                    <th>
                        {% comment %}
                        <a href="{% url 'email-test-create' %}" class="glyphicon glyphicon-plus"></a>
                        {% endcomment %}
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for test in list %}
                    <tr>
                        <td>
                            <a href="{% url 'email-test-detail' test.id %}">{{ test.name }}</a>
                        </td>
                        <td> {{ test.test_status }}</td>
                        <td>
                            <div class="pull-right">
                                <a href="{% url 'email-test-delete' test.id %}" class="btn btn-danger btn-sm">Delete</a>
                                <a href="{% url 'email-test-update' test.id %}" class="btn btn-primary btn-sm">Update</a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

</div>
{% endblock %}
