{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}AVA - Visibly more secure{% endblock %}
{% block mainpage %}

<div class="page-header">
    <h2>Update identifier for: {{ identifier.identity.name }}</h2>
</div>

<form action="" method="post">
    {% csrf_token %}
    {{ form|bootstrap }}
</form>

<div class="button pull-right">
	<a href="{% url 'identity-detail' identifier.identity.id %}" class="btn btn-primary btn-md ">Cancel</a>
    <button type="submit" class="btn btn-md btn-success">Save</button>
</div>

{% endblock %}
