{% extends 'base.html' %}
{% block mainpage %}

        <div class="page-header">
     <h2 class="sub-header">Current People</h2>
</div>


    <div class="table-responsive">
{% if person_list %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Surname</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
    {% for person in person_list %}
    <tr>
        <td>{{ person.first_name }}</td>
        <td>{{ person.surname }}</td>
        <td>
            <div class="pull-right">
                <a href="{% url 'person-detail' person.id  %}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
            </div>
        </td>
    </tr>
    {% endfor %}
     </tbody>
    </table>
{% else %}
    <p>No people are available.</p>
{% endif %}


{% endblock %}
