{% extends 'base.html' %}
{% block mainpage %}


 <div class="page-header">
  <h2>Google Apps Users</h2>
</div>

    <div class="table-responsive">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Primary Email</th>
                        <th>Last Login Time</th>
                        <th>Is Admin?</th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>

    {% for googledirectoryuser in googledirectoryuser_list %}
    <tr>
        <td>{{ googledirectoryuser.primary_email}}</td>
        <td>{{ googledirectoryuser.last_login_time }}</td>
        <td>{{ googledirectoryuser.is_admin }}</td>
        <td>

          <a href="{% url 'google-user-detail' googledirectoryuser.id  %}"><button type="button" class="btn btn-primary btn-sm">View</button></a>
          <a href="{% url 'google-user-delete' googledirectoryuser.id  %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>
    </tr>
    {% endfor %}
     </tbody>
    </table>



{% endblock %}
