{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}



 <div class="page-header">
  <h2>Google Apps Configuration Details</h2>
</div>


            <div class="row">
                    <table class="table table-user-information">
                        <tbody>
                        <tr>
                            <td>Server:</td>
                            <td>{{ google_configuration.domain }}</td>
                        </tr>
                        </tbody>
                    </table>
                    <a href="{% url 'google-import-id' google_configuration.id %}"><button type="button" class="btn btn-primary btn-sm">Import</button></a>
                    <a href="{% url 'google-configuration-update' google_configuration.id  %}"><button type="button" class="btn btn-primary btn-sm">Update</button></a>
                    <a href="{% url 'google-configuration-delete' google_configuration.id  %}"><button type="button" class="btn btn-danger btn-sm">Delete</button></a>

                </div> <!-- end of column -->



{% endblock %}

