{% extends 'base.html' %}
{% load staticfiles %}
{% block mainpage %}

    <div class="row dashboard">
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="dash-info">
                            <div class="dash-img">
                                <img src="{% static 'images/know.png' %}">
                            </div>
                            <div class="dash-desc">
                                <h3>Know: Google</h3>

                                <p>See how people are connected and learn how your organisation is really structured.
                                    Use information from internal systems to reveal trust boundaries and pathways.</p>
                            </div>
                        </div>
                        <div class="dash-stats">
                            <div class="dash-stat">
                                <span class="dash-count">{{ person_count }}</span>
                                <span class="dash-type">people</span>
                                <a href="{% url 'person-index' %}" class="btn btn-sm btn-default">View People</a>
                            </div>
                            <div class="dash-stat">
                                <span class="dash-count">{{ identity_count }}</span>
                                <span class="dash-type">identities</span>
                                <a href="{% url 'identity-index' %}" class="btn btn-sm btn-default">View Identities</a>
                            </div>
                            <div class="dash-stat">
                                <span class="dash-count">{{ group_count }}</span>
                                <span class="dash-type">active groups</span>
                                <a href="{% url 'group-index' %}" class="btn btn-sm btn-default">View Groups</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row dashboard know">
        <div class="col-sm-4">
            <div class="panel dash-connected">
                <div class="panel-body">
                    <div class="body-item">
                        <span class="dash-count">0</span>
                        <span class="dash-type">people are highly connected</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel dash-passwords">
                <div class="panel-body">
                    <div class="body-item">
                        <span class="dash-count">{{ google.admin_accounts|length }}</span>
                        <span class="dash-type">administrators</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="panel dash-logged">
                <div class="panel-body">
                    <div class="body-item">
                        <span class="dash-count">{{ google.never_logged_in|length }}</span>
                        <span class="dash-type">people have never logged in</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Administrators</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in google.admin_accounts %}
                    <tr>
                        <td>{{ item }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6">
            <h2>Never logged in</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in google.never_logged_in %}
                    <tr>
                        <td>{{ item}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <h2>Delegated Admins</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in google.delegated_admin_accounts %}
                    <tr>
                        <td>{{ item }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-6">
            <h2>Most Connected People</h2>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for key,value in google.connection_size %}
                    <tr>
                        <td>{{ key}}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}