{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

{% block sidebar %}
{% endblock %}

<div class="row">
    <div class="auth wizard-setup">
    	<div class="step-breadcrumb">
      		<span class="step-one complete">Create Account</span>
      		<span class="step-two active">Import Directory</span>
      		<span class="step-three">View Dashboard</span>
      	</div>
      	<img class="logo" src="{% static "images/ava-large.png" %}" alt="AVA - Protect Your People"/>
      	<div class="auth-inner first-user">
			<div class="first-user-intro">
				<h3>Import your directory into AVA</h3>
				<p>To begin mapping out your organisation, please import your LDAP or Google Account directory.</p>

			</div>
			
			<a href="{% url 'welcome-import-ldap' %}" class="btn btn-def btn-block btn-success">Import from LDAP</a>
			<a href="{% url 'welcome-import-google' %}" class="btn btn-def btn-block btn-success">Import from Google Apps</a>
		</div>
	</div>
</div>
{% endblock %}
